.iep_list-header {
  padding: 5px;
  font-weight: bold;
}

.iep_list-body::after {
  clear: both;
  display: block;
  content: '""';
}

.iep_emoji {
  background: transparent;
  border: 0;
  padding: 5px;
  float: right;
  font-size: inherit;
  position: relative;
}
