{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["flowtype"],
  "env": {
    "mocha": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "no-param-reassign": 0,
    "padded-blocks": 0,
    "react/jsx-filename-extension": 0,
    "no-unused-vars": [2, { "vars": "all", "args": "none" }],
    "flowtype/require-parameter-type": [2, { "excludeArrowFunctions": true }],
    "flowtype/require-return-type": [2, { "excludeArrowFunctions": true }],
    "flowtype/space-after-type-colon": [2, "always"],
    "flowtype/space-before-type-colon": [2, "never"],
    "flowtype/type-id-match": 0
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}
