
# Logs
logs/
*.log

# Cache
.eslintcache
.idea
.npm
.vscode
.yarnclean

# Directories
_book/
coverage/
dts/
esm/
lib/
node_modules/
tests/lib/
tests/packages/

# Custom
*.min.js
*.map

# Configs
.babelrc
.eslintignore
.eslintrc.js
.flowconfig
.prettierignore
jest.config.js
prettier.config.js
tsconfig.json
tsconfig.eslint.json
tsconfig.options.json
*.tsbuildinfo
