*.log
_book/
coverage/
src/
tests/
.babelrc
.eslintcache
.eslintignore
.eslintrc.js
.gitignore
.npmignore
.prettierignore
.travis.yml
.yarnclean
jest.config.js
lerna.json
prettier.config.js
tsconfig.json
