
# Logs
logs/
*.log

# Cache
.eslintcache
.idea
.npm
.vscode
.yarnclean
yarn.lock

# Directories
_book/
coverage/
docs/
tests/
types/
node_modules/

# Custom
*.min.js
*.map

# Configs
.babelrc
.eslintignore
.eslintrc.js
.flowconfig
.prettierignore
babel.config.js
book.json
jest.config.js
prettier.config.js
tsconfig.json
webpack.config.js
