# Logs
logs/
*.log

# Cache
.eslintcache
.idea
.npm
.vscode
.yarnclean

# Directories
_book/
coverage/
docs/
src/
tests/
node_modules/

# Custom
*.min.js
*.map

# Configs
.babelrc
.eslintignore
.eslintrc.js
.flowconfig
.prettierignore
.travis.yml
book.json
jest.config.js
prettier.config.js
tsconfig.json
webpack.config.js
