language: node_js
node_js:
  - "8"
  - "9"
before_script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - yarn install --frozen-lockfile
  - yarn run build
script: yarn test
notifications:
  email: false
cache:
  yarn: true
